<div class="d-flex justify-content-center" *ngIf="token && email">
  <div class="col-12 col-lg-5">
    <main class="form-signin">
      <form
        [formGroup]="resetPasswordForm"
        (ngSubmit)="resetPassword()"
        autocomplete="off"
        class="form-signin"
      >
        <div class="text-center mb-4">
          <h1 class="mb-3 font-weight-normal">Change Your Password</h1>
        </div>
        <div class="form-floating mb-3">
          <input
            formControlName="email"
            type="text"
            placeholder="username"
            class="form-control"
          />
          <label for="email">Email</label>
        </div>
        <div class="form-floating mb-3">
          <input
            formControlName="newPassword"
            type="password"
            placeholder="New Password"
            class="form-control"
            [class.is-invalid]="
              submitted && resetPasswordForm.get('newPassword')?.errors
            "
          />
          <label for="newPassword">New Password</label>
          <span
            class="text-danger"
            *ngIf="
              submitted &&
              resetPasswordForm.get('newPassword')?.hasError('required')
            "
            >Password is required</span
          >
          <span
            class="text-danger"
            *ngIf="
              (submitted &&
                resetPasswordForm.get('newPassword')?.hasError('minlength')) ||
              (submitted &&
                resetPasswordForm.get('newPassword')?.hasError('maxlength'))
            "
            >Password must be minimum 3 characters and maximum 15</span
          >
        </div>
        <div class="form-floatin" *ngIf="errorMessages.length > 0">
          <app-validation-messages
            [errorMessages]="errorMessages"
          ></app-validation-messages>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="d-grid">
              <button class="btn btn-lg btn-info" type="submit">
                Change Password
              </button>
            </div>
          </div>
          <div class="col-6">
            <div class="d-grid">
              <button
                class="btn btn-lg btn-info"
                type="button"
                routerLink="/account/login"
              >
                Cancel
              </button>
            </div>
          </div>
        </div>
      </form>
    </main>
  </div>
</div>
